#about {
    min-height: 450px;
    /* background-image: url("../img/stock.jpg"); */
    /* background-color: #ebdcf5; */
    background-color: #f7f2fa;
    display: flex;
    color: black;
    font-weight: 600;
}

.about-section {
    margin: 5%;
    justify-content: center;
}

.headshot {
    height: 350px;
    width: 270px;
}

.about-contents {
    margin: auto;
}

.resumebtn-container {
	text-align: center;
	position: relative;
	width: 300px;
	cursor: pointer;
}

.resume-button {
    margin-top: 5px;
    border-radius: 0%;
    background-color: #317773;
	color: #E2D1F9;
}