#contact {
    margin: auto;
    text-align: center;
    min-height: 400px;
}

.contact-title {
    text-transform: uppercase;
    padding: 1rem;
}

.contact-sub {
    padding: 1rem;
}

.contact-btn {
}